@()

@main("Welcome") {
@defining(play.core.PlayVersion.current) { version =>

<section id="content">
  <div class="wrapper doc">
    <article>
      <h2>Welcome to Image gallery Search!</h2>
      <p>This tutorial introduces Image gallery Search, and walks you through steps
        to search in the gallery.</p>


      <h3 >API</h3>
      <p><b>/search/:query</b></p>
      <p>Search for the query in all available fields in the picture details</p>

      <h3 >Config</h3>
      <p><b>frequency</b></p>
      <p>time in second between cache refresh</p>


    </article>
  </div>
</section>
}
}